<div class="col-md-6 col-md-offset-2">
  <h2 class="top-page">Register</h2>
  <!-- Whole Form -->
  <form name="form">
      <!-- Username -->
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="Username is Required" required />
      </div>
      <!-- Email -->
      <div class="form-group">
          <label for="username">Email</label>
          <input type="text" name="email" id="Text1" class="form-control" placeholder="Email is Required" required />
      </div>
      <!-- Password -->
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password is Required" required />
      </div>
      
      <!-- Password Check -->
      <div class="form-group">
          <label for="password">Password Check</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Passwords Must Match" required />
      </div>      

      <div class="form-actions">
          <button type="submit" class="btn btn-primary">Register</button>
          <button type="reset" class="btn btn-danger">Cancel</button>
      </div>
  </form>

  <hr>

  <form>
        <button class="btn btn-secondary"><a routerLink="/home">Go Back to Home</a></button>            
  </form>
</div>