  <!-- Jumbotron and status -->
  <div class="container mt-4">

    <!-- <div class="panel panel-primary">
      <div class="panel-heading">Currently Displaying</div>
      <div class="panel-body">
        <h3>{{title}}</h3>
      </div>
    </div> -->
  
  
  <!-- Test the Pages Here -->  

  <!-- <app-login></app-login> -->
  <!-- <app-register></app-register> -->

  <router-outlet></router-outlet>

  <!-- Router Checks -->
  <!-- <div class="panel panel-primary">
      <div class="panel-heading">For Dev: Test the pages</div>
      <div class="panel-body">
        <h4>Add Router Links Here</h4>
        <a routerLink="/home">Home</a>
        <a rouerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </div>
  </div> -->

</div>
