<!-- Jumbotron and status -->
<div class="container mt-4">
        
        <div class="jumbotron">
          <h2>Ignighte : Set Your Playlist on Fire</h2>
        </div>
        
        <div class="panel panel-primary">
          <div class="panel-heading">Currently Displaying</div>
          <div class="panel-body">
            <h3>{{title}}</h3>
          </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">For Dev: Test the pages</div>
            <div class="panel-body">
              <h4>Add Router Links Here</h4>
            </div>
        </div>
  
</div>

<!-- Test the Pages Here -->

<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->