<div class="col-md-6 col-md-offset-2">
  <h2 class="top-page">Login</h2>
  <form name="form" role="form">
      <div class="form-group">
          <label for="username">Account</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="Username or Email" required />
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
      </div>
      <div class="form-actions">
          <button type="submit" class="btn btn-primary">Login</button>
      </div>
  </form>

  <hr>

  <form>
    <h4> Do not have an accoutn yet? Register Now! </h4>
    <button class="btn btn-info"><a routerLink="/register">Register</a></button>    
  </form>
</div>
