<!DOCTYPE HTML>
<html>
	<head>
		<title>IGNIGHTE : Set Your Playlist On Fire</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body>
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-fire"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1 class="company-title">IGNIGHTE </h1>
								<hr>
								<h2>Set Your Playlist on Fire</h2>
								<!-- <h1>-</h1> -->
								<h3>Ad-Free, Simple Youtube Music Playlist</h3>
							</div>
						</div>
						<nav>
							<ul>
								<li><a routerLink="/home">Home</a></li>
								<li><a routerLink="/register">Register</a></li>								
								<li><a routerLink="/login">Login</a></li>
								<!-- <li><a href="#contact">Playlist</a></li> -->
								
								<!-- <li><a href="#intro">About</a></li>
								<li><a href="#work">Function</a></li>
								<li><a href="#about">Future</a></li> -->

								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; <a href="#">Copyright 2017 by Ignighte Enterprise LLC</a>.</p>
					</footer>

			</div>

			<div id="bg"></div>

	</body>
</html>
